@page "/board/{id:guid}"
@using Fluxor;
@using KanbanBoard.Client.Store.BoardUseCase;
@using KanbanBoard.Client.Store.StageUseCase;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using KanbanBoard.Shared
@using KanbanBoard.Client.Components
@inject HttpClient Http

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>@BoardName</PageTitle>

<h1>@BoardName</h1>

<div class="stage-container">

    @if (State.Value.SelectedBoard != null)
    {
        <div class="stage-wrapper row flex-row flex-sm-nowrap py-3">

            @foreach (var stage in State.Value.Boards[State.Value.SelectedBoard.Value].Stages.Values!)
            {
                <StageComponent StageId="@stage.Id" />
            }
            <button class="add-stage btn btn-primary" @onclick="AddStage"><span class="oi oi-plus" aria-hidden="true"></span></button>
        </div>
    }

</div>

@code {

    [Parameter]
    public Guid Id { get; set; }

    [Inject]
    public IState<BoardsState> State { get; set; }

    [Inject]
    public IDispatcher Dispatcher { get; set; }

    protected override void OnParametersSet()
    {
        Dispatcher.Dispatch(new SelectBoardAction(Id));
    }

    private string BoardName => State.Value.SelectedBoard == null ? "Loading board..." : State.Value.GetSelectedBoard?.Name!;

    private void AddStage()
    {
        Dispatcher.Dispatch(new AddStageAction(Id));
    }
}
