@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome To Ivan's Assignment!</h1>

<p>This app is up and running if you are seeing this screen and you have already created account, <b>well done</b>!
    <br />To start using the app, go to any board on the left or create a new one.</p>

<p>A bit more about this project you can find in the <a href="https://github.com/drussilla/worth-kanban" target="_blank">GitHub repo</a></p>

<br/>
<p>If you have any questions or want to schedule the next inteview round, just send me email at <a href="mailto:drussilla7@gmail.com" target="_blank">drussilla7@gmail.com</a>
</p>

